.step-button {
  width: 100%;
  text-align: center;
}

.btn-leada {
  background-color: $founders-rock-blue;
  color: white;
}

.btn-leada:hover {
  color: white;
  text-decoration: underline;
}

.flat-button {
  display: inline-block;
  padding: 15px 60px;
  border: 0;
  text-shadow: none;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #FFF;
  background-color: $founders-rock-blue;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  top: 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.flat-button:hover {
  color: white;
  text-decoration: underline;
}

.flat-button-header {
  @include breakpoint($not-mobile) {
    // TODO(mark): make this into a mixin
    display: inline-block;
    padding: 15px 60px;
    border: 0;
    text-shadow: none;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #FFF;
    background-color: $founders-rock-blue;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    top: 0;
    font-size: 16px;
    font-weight: 700;
  }
}

.flat-button-header:hover {
  @include breakpoint($not-mobile) {
    color: white;
  }
}

.square-wrapper {
  height: 200px;
}

.round-border-wrapper {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 5px solid #e3e3e3;
  z-index: 1;
}

.round-with-border {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  border: 5px solid #e3e3e3;
}

.square-with-border {
  width: 200px;
  border: 5px solid #e3e3e3;
}

.complete { /*Complete button, will change after we get it working properly*/
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: Georgia, Serif;
  text-decoration: none;
  vertical-align: middle;
}

.complete:hover {
 border-top-color: #28597a;
 background: #28597a;
 color: #ccc;
}

.complete:active {
 border-top-color: #1b435e;
 background: #1b435e;
}

#submit_buton {
  margin: 0 0;
}

.small-btn {
  padding: 8px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit-file-button {
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-button {
  width: 350px;
  text-align: center;

  @include breakpoint($mobile) {
    width: 100%;
    padding: 15px;
  }
}

.left:has(.home-button) {
  @include breakpoint($mobile) {
    float: none;
  }
}

.outline-button {
  color: $founders-rock-blue;
  border: 2px solid;
  border-color: $founders-rock-blue;
  background-color: $white;

  &:hover {
    color: $founders-rock-blue;
  }
}

.sharp-edges {
  border-radius: 0;
}

.sign-up-page-button {
  @extend .flat-button;
  @extend .sharp-edges;
  @extend .full-width;
  @extend .no-margin-bottom;

  padding-top: 10px;
  padding-bottom: 10px;
}

