.card-container {
  margin-top: 10px;
}

.card {
  background: white;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
  padding: 12px;
  margin: 0 0 10px 0;
}

.card-full {
  min-height: 600px;
}

.card-section {
  margin-bottom: 10px;
}

.card-info {
  display: inline-block;
  vertical-align: middle;
}

.bottom-card-section {
  margin-bottom: 0px;
}

.card-medium {
  min-height: 200px;
}

.card-inset-medium {
  padding: 50px;

  @include breakpoint($mobile) {
    padding: 10px;
  }
}

