#mobile-navbar-modal-backdrop,
#mobile-navbar-modal-wrapper {
  display: none;
}

#mobile-navbar-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 360px;
  background: black;
  opacity: 0.9;
  z-index: 1000;
}

#mobile-navbar-modal-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1001;

  -moz-transition: height 0.2s, margin-top 0.2s;
  -webkit-transition: height 0.2s, margin-top 0.2s;
  transition: height 0.2s, margin-top 0.2s;
}

#close-mobile-navigation {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 32px;

  color: white;

  &:hover {
    color: white;
  }
}

#mobile-navbar-wrapper {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  height: 300px;
  width: 300px;
}

#mobile-navigation-items {
  li {
    a {
      color: white;

      &:hover {
        color: white;
      }
    }
  }
}
