$desktop: "(min-width: 1024px)";
$mobile: "(max-width: 767px)";
$not-mobile: "(min-width: 768px)";

$small-screen: "(max-width: 980px)";
$medium-screen: "(max-width: 1400px)";

@mixin breakpoint($querystring) {
  $valid: true;
  @if type-of($querystring) != "string" {
    @warn "querystring: #{$querystring} is not a string";
    $valid: false;
  }
  @if $valid == true {
    @media #{$querystring} {
      @content;
    }
  }
}

