/*
 * Config Variables
 */
$main-background-color: $background-gray;
$content-background: $white;
$learning-background: $light-gray;
$email-background: $founders-rock-blue;
$try-project-background: $lap-lane;

