@font-face {
  font-family: "Lusitana";
  src: font-url("Lusitana/Lusitana-Regular.ttf");
}

@font-face {
  font-family: "Lusitana";
  src: font-url("Lusitana/Lusitana-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: font-url("OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: font-url("OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: font-url("OpenSans/OpenSans-Light.ttf");
  font-weight: 300;
}

