.medium-image {
  width: 265px;
}

.inline-image-wrapper {
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.logo-container {
  margin-top: 30px;
}

.thumbnail > img.company-profile-photo {
  width: 200px;
  height: 200px;
}

.logo {
  height: 40px;
  margin-right: 5px;
}
